h1 {
  text-align: center;
  margin-bottom: 20px; /* Vous pouvez ajuster la marge selon vos préférences */
}
.submit-form {
  max-width: 400px;
  margin: auto;
}
.center2 {
  display: flex;
  justify-content: center;
}
.form-label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
.form-wrapper {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.login-html{
  width:100%;
  height:100%;
  position:absolute;
  padding:90px 70px 50px 70px;
  background-color: rgba(247, 247, 247, 0.87);
}

.login-wrap2{
  width:100%;
  margin:auto;
  max-width:1300px;
  min-height:900px;
  position:relative;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-form{
  min-height:345px;
  position:relative;
  perspective:1000px;
  transform-style:preserve-3d;
}
body{
 
background: url("../assets/image.jpg");
  background-size:100% auto;
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 100;
  margin: auto;
  min-width: 50%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}


.form-group {
  flex-basis: calc(24% - 10px); /* Utilisez 24% pour chaque champ pour les aligner sur une ligne */
  margin-bottom: 10px;
}

.form-group.full-width {
  flex-basis: calc(100% - 10px); /* Utilisez 100% pour les champs qui doivent occuper toute la largeur */
}

.example-spacer {
  flex: 1 1 auto;
}

.form-container22 {
  background-color: #f19327;
  padding: 20px;
  border: 1px solid #ccc;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin-right: 0px;
  grid-gap: 20px;
  margin-left: 10px;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.form-label {
  font-weight: bold;
  color: #7ed957;
  font-size: 16px;
  margin-bottom: 8px;
  text-transform: uppercase;
  width: 100%; /* Rendre le libellé plus large */
   /* Ajouter une bordure claire */
  padding: 10px; /* Ajouter un espacement interne pour la lisibilité */
  /* Autres propriétés de style que vous pouvez ajuster */
}



.form-input {
  width: 100%;
  padding: 10px;
  border: none; /* Supprime la bordure par défaut */
  border-radius: 5px; /* Ajoute un arrondi aux coins */
  background-color: #f5f5f5; /* Couleur de fond claire */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); /* Ajoute une ombre légère */
}

.form-input:focus {
  outline: none; /* Supprime la bordure de focus */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); /* Ajoute une ombre plus prononcée lorsqu'il est en focus */
}

.form-button {
  background-color: #7ed957;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  justify-content: center;
  margin: 50px 50px 50px 150px;
  
}

.form-button:hover {
  background-color: #7ed957;
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
