<!-- index.component.html -->
<br><br><br><br>
<div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <tbody>
        <tr>
            <!-- Deuxième colonne avec les numéros des classes -->
            
            <ng-container *ngFor="let classe of classes ; let i = index ">
              <th [style.background-color]="getCardColor(i)">{{ classe.numcl }}</th>
            </ng-container>
          </tr>
          <tr>
            <!-- Troisième colonne avec les noms des classes -->
            
            <ng-container *ngFor="let classe of classes ; let i = index">
              <td><b>{{ classe.nom }}</b></td>
            </ng-container>
          </tr>
      
          <tr>
            <!-- Cinquième colonne avec les actions pour chaque classe -->
         
            
            <ng-container *ngFor="let classe of classes ; let i = index">
                <td [style.background-color]="getCardColor(i)">
                    <!-- Utilisation *ngIf pour s'assurer que la classe a des comptes -->
                    <ng-container *ngIf="classe.id !== undefined && comptesByClasse[classe.id]">
                      <!-- Utilisation *ngFor pour itérer sur les comptes associés à chaque classe -->
                      <ng-container *ngFor="let compte of comptesByClasse[classe.id]" >
                        <tr *ngIf="compte.code.toString().length === 2"><b>{{ compte.code }}</b>  . {{ compte.libele }}</tr>
                      </ng-container>
                    </ng-container>
                  </td>
            </ng-container>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
  