/* Styles pour les boutons du composant */
.btn-small {
    font-size: 9px;
    padding: 4px 8px;
    margin-right: 8px;
    width: 80px; /* Ajustez cette valeur pour définir la largeur souhaitée du bouton */
    height: 30px; /* Ajustez cette valeur pour définir la hauteur souhaitée du bouton */
  }
  body {
    background: linear-gradient(-45deg, #ACE1AF, #F0F8FF, #F2F3F4, #D0F0C0,#E9FFDB)no-repeat center center fixed;
    background-size:100% auto;
    animation: gradient 5s ease infinite;
    height: 100vh;
    width: auto;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }
.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}