<h2>Liste des classes</h2>
<div *ngIf="successMessage" class="alert alert-success">
  {{ successMessage }}
</div>

<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>ID</th>
     
      <th>Classe</th>
      <th>Nom de classe</th>
      <th>Description</th>
      <th>Actions</th>
      
    </tr>
  </thead>
 
  <tbody>
    <tr *ngFor="let Classe of classes">
      <td>{{Classe.id}}</td>
      <td>{{Classe.numcl}}</td>
      <td>{{Classe.nom}}</td>
      <td>{{Classe.description}}</td>
      
      <td>
        <div class="button-container">
          <button class="btn btn-danger" (click)="deleteClasse(Classe.id)">Delete</button>
          <button class="btn btn-primary" (click)="editClasse(Classe.id)">Edit</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

