<br><br><br><br>
<div class="body2">
  <div class="wrapper">
  <div class="box">
    


      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      
      
      
      
      
      
      
      </div>
      </div>
      </div>
 
<link rel="shortcut icon" href="https://meetmighty.com/dashboards/simpled/html/assets/images/favicon.ico" />

<div class="back">
  

  <div class="nav">
  Filtres:
  <!-- Statut Dropdown -->

  <div class="nav-links">
    <a>Statut</a>
    <div class="dropdown-content"> 
      <li>
        <a class="dropdown-item" (click)="appliquerFiltre('A Valider', null,null)">A Valider</a>
      </li>
      <li>
        <a class="dropdown-item" (click)="appliquerFiltre('En Attente', null,null)">En Attente</a>
      </li>
      <li>
        <a class="dropdown-item" (click)="appliquerFiltre('Validée', null,null)">Validee</a>
      </li>
    </div>
  </div>
  
  <!-- Type Dropdown -->

  <div class="nav-links">
    <a>Type</a>
    <div class="dropdown-content">
      <li>
        <a class="dropdown-item" (click)="appliquerFiltre(null, 'C',null)">CREDIT</a>
      </li>
      <li>
        <a class="dropdown-item" (click)="appliquerFiltre(null, 'D',null)">DEBIT</a>
      </li>
    </div>
  </div>
  

   <!-- Mois Dropdown -->
  <div class="nav-links">
    <a>Mois</a>
    <div class="dropdown-content"> 
      <li>
        <a class="dropdown-item" (click)="appliquerFiltre(null, null, 1)">Janvier</a>
      </li>
      <li>
        <a class="dropdown-item" (click)="appliquerFiltre(null, null, 2)">Février</a>
      </li>
      <li>
        <a class="dropdown-item" (click)="appliquerFiltre(null, null, 3)">Mars</a>
      </li>
      <li>
        <a class="dropdown-item" (click)="appliquerFiltre(null, null, 4)">Avril</a>
      </li>
      <li>
        <a class="dropdown-item" (click)="appliquerFiltre(null, null, 5)">Mai</a>
      </li>
      <li>
        <a class="dropdown-item" (click)="appliquerFiltre(null, null, 6)">Juin</a>
      </li>
      <li>
        <a class="dropdown-item" (click)="appliquerFiltre(null, null, 7)">Juillet</a>
      </li>
      <li>
        <a class="dropdown-item" (click)="appliquerFiltre(null, null, 8)">Août</a>
      </li>
      <li>
        <a class="dropdown-item" (click)="appliquerFiltre(null, null, 9)">Septembre</a>
      </li>
      <li>
        <a class="dropdown-item" (click)="appliquerFiltre(null, null, 10)">Octobre</a>
      </li>
      <li>
        <a class="dropdown-item" (click)="appliquerFiltre(null, null, 11)">Novembre</a>
      </li>
      <li>
        <a class="dropdown-item" (click)="appliquerFiltre(null, null, 12)">Décembre</a>
      </li>
    </div>
</div>
<br><br> <br><br> <br><br> <br><br> <br><br>
<div class="group">
  <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
      <g>
          <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
      </g>
  </svg>
  <input placeholder="Chercher..." type="search" class="input"  [(ngModel)]="searchTerm" (keyup)="search()" >
</div>
<div class="container32">
<table id="datatable" class="table data-table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Libelle</th>
      <th>Montant</th>                        
      <th>Taux de TVA</th>
      <th>Montant TVA</th>
      <th>TVA deductible</th>
      <th>Type</th>
      <th>Date Operation</th>
      <th>Date Valeur</th>
      <th>Description</th>
      <th>Compte</th>
      <th>Justificatif</th>
      <th>Statut</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let operation of operations">
      <td (click)="viewOperationDetails(operation)">{{ operation.id }}</td>
      <td (click)="viewOperationDetails(operation)">{{ operation.libelle }}</td>  
      <td (click)="viewOperationDetails(operation)">{{ operation.montant | currency:'EUR':'symbol':'1.2-2' }}</td>
      <td>
        <select [(ngModel)]="operation.tauxTVA" (change)="updateOperationProperty(operation, 'tauxTVA', operation.tauxTVA)">
          <option value="0.2">20%</option>
          <option value="0.1">10%</option>
          <option value="0.055">5.5%</option>
          <option value="0.021">2.1%</option>
          <option value="1">0%</option>
        </select>
      </td>
      
      <td (click)="viewOperationDetails(operation)">
        {{ operation.montant * (operation.tauxTVA ? operation.tauxTVA : 1) | currency:'EUR':'symbol':'1.2-2' }}
      </td>      
      <td>
        <select [(ngModel)]="operation.tvadeductible" (change)="updateOperationProperty(operation, 'tvadeductible', operation.tvadeductible)">
          <option value="OUI" selected="true">OUI</option>
          <option value="NON">NON</option>
        </select>
      </td>
      <td (click)="viewOperationDetails(operation)" [ngSwitch]="operation.type">
        <span *ngSwitchCase="'D'">DEBIT</span>
        <span *ngSwitchCase="'C'">CREDIT</span> 
      </td>
      <td (click)="viewOperationDetails(operation)"> {{ operation.dateOP | date:'dd/MM/yyyy' }}</td>
      <td (click)="viewOperationDetails(operation)">{{ operation.dateVal | date:'dd/MM/yyyy' }}</td>
      <td (click)="viewOperationDetails(operation)">{{ operation.description }}</td>
      
        <td (click)="viewOperationDetails(operation)">{{ operation['compte'] ? operation['compte'] .libele : 'Aucun compte associé' }}</td>
      <td>
           <!-- Download PDF Icon -->
          <div style="display: flex; align-items: center;">
            <a class="mr-0" data-toggle="tooltip" data-placement="top" title="Télécharger Justificatif" (click)="downloadJustificatif(operation)">
              <img src="../assets/pdf.png" class="img-fluid">
            </a>
          <!-- Upload File Icon and Input -->
          <label class="btn btn-link" title="Upload Justificatif">
            <i class="fa fa-upload"></i>
            <input type="file" (change)="onJustificatifChange($event, operation.id)" style="display: none;" #fileInput />
          </label>
        </div>
      </td>
      
      <ng-container *ngIf="operation.status === 'En Attente'; else validee">
        <td (click)="viewOperationDetails(operation)" class="mt-2 no-border"><span class="badge badge-danger">{{ operation.status }}</span></td>
      </ng-container>
      <ng-template #validee>
        <ng-container *ngIf="operation.status === 'Validée'; else autre">
          <td (click)="viewOperationDetails(operation)" class="mt-2 no-border"><span class="badge badge-success">{{ operation.status }}</span></td>
        </ng-container>
        <ng-template #autre>
          <ng-container *ngIf="operation.status === 'A Valider'">
            <td (click)="viewOperationDetails(operation)" class="mt-2 no-border"><span class="badge badge-warning">{{ operation.status }}</span></td>
          </ng-container>
        </ng-template>
      </ng-template>
    </tr>
  </tbody>
</table>
</div>







</div>
