button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  height: 32px;
  width: 124px;
  border: none;
  background: #056bfae0;
  border-radius: 20px;
  cursor: pointer;
}

button:active {
  transform: scale(.9);
  transition: all 100ms ease;
}


button svg {
  width: 16px;
}





