<br><br><br>

<div>
  <form (ngSubmit)="saveCompte()">
    <div class="submit-form">
      <div *ngIf="!submitted">
        
        <div class="form-group">
          <label class="form-label" for="code">Code : </label>
          <input
            class="form-input"
            id="code"
            required
            [(ngModel)]="Compte.code"
            name="code"
          />
        </div>
        <div class="form-group">
          <label class="form-label" for="libele">Libellé:</label>
          <input
            class="form-input"
            id="libele"
            required
            [(ngModel)]="Compte.libele"
            name="libele"
          />
        </div>
        <div>
          <label class="form-label" for="classe_id">Numéro classe</label>
          <input class="form-input" id="classe_id" name="classe_id" [(ngModel)]="Compte.classe_id" readonly>
        </div>
        <div>
          <label class="form-label" for="parent_compte_id">Compte Parent</label>
          <input class="form-input" id="parent_compte_id" name="parent_compte_id" [(ngModel)]="Compte.parent_compte_id" readonly>
      </div>      
        <div>
          <label class="form-label" for="description">Description:</label>
          <textarea
            class="form-input"
            id="description"
            required
            [(ngModel)]="Compte.description"
            name="description"
          ></textarea>
        </div>
          
        <button type="submit" class="form-button">Enregistrer</button>
      </div>
    </div>
  </form>
</div>
