
  
  <div class="nav"> <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <img src="/assets/elzeilogo.png" alt="Logo" width="100">
    </div>
    <div class="nav-btn">
      <label for="nav-check"> <span></span> <span></span> <span></span> </label>
    </div>
    <div class="nav-links"> <a href="home" class="navbar-brand">Gestion Comptes Comptables</a> </div>
    <div class="nav-links"> <a href="PCG" class="navbar-brand">PCG</a> </div>
    <div class="nav-links">    <a href="operation" class="navbar-brand">Operations</a>
    </div>

    <div class="nav-links">
      <a>Comptes</a>
      <div class="dropdown-content"> 
        <li>
          <a class="dropdown-item" routerLink="Comptes" (click)="closeDropdown()" >Liste Comptes</a>
        </li> <a href="add">Ajouter Compte</a>
      </div>
    </div>

    <div class="nav-links">
      <a>Classes</a>
      <div class="dropdown-content">
        <li>
          <a class="dropdown-item" routerLink="Classe" >Liste Classe</a>
        </li> <a href="add">Ajouter Compte</a>
      </div>
    </div>
  
  <p></p>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>