.submit-form {
  max-width: 400px;
  margin: auto;
}
.form-label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
.example-spacer {
  flex: 1 1 auto;
}
.form-container {
  background-color: #e6c0c0;
  padding: 20px;
  border: 1px solid #ccc;
}
.form-container22 {
  background-color: #f19327;
  padding: 20px;
  border: 1px solid #ccc;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
  color: #7ed957;
  font-size: 16px;
  margin-bottom: 8px;
  text-transform: uppercase;
  width: 100%; /* Rendre le libellé plus large */
   /* Ajouter une bordure claire */
  padding: 10px; /* Ajouter un espacement interne pour la lisibilité */
  /* Autres propriétés de style que vous pouvez ajuster */
}



.form-input {
  width: 100%;
  padding: 10px;
  border: none; /* Supprime la bordure par défaut */
  border-radius: 5px; /* Ajoute un arrondi aux coins */
  background-color: #f5f5f5; /* Couleur de fond claire */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); /* Ajoute une ombre légère */
}

.form-input:focus {
  outline: none; /* Supprime la bordure de focus */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); /* Ajoute une ombre plus prononcée lorsqu'il est en focus */
}

.form-button {
  background-color: #7ed957;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  justify-content: center;
  margin: 50px 50px 50px 150px;
  
}

.form-button:hover {
  background-color: #7ed957;
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
